<h3>Alle eBooks</h3>

<p *ngIf="!ebooks.length">Bisher sind keine eBooks gelistet.</p>

<section *ngFor="let ebook of ebooks"
         class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100">
        <img *ngIf="ebook.coverData"
             [src]="ebook.coverData"
             height="150">
        <i *ngIf="!ebook.coverData"
           class="material-icons">&#xE033;</i>
    </header>

    <div class="mdl-cell mdl-card mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ebook.title || "[ Titel unbekannt ]"}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <strong>Autor:</strong> {{ebook.author || "[ Autor unbekannt ]"}} <br>
            <strong>Verlag:</strong> {{ebook.publisher}} <br><br>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a (click)="onSelect(ebook)"
               class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Bearbeiten...
            </a>
        </div>
    </div>
</section>

