<h3>Kontakt</h3>

<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Norbert Schmidt</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Budapester Str. 12 <br />
        97084 Würzburg <br /> <br />
        Mobile 01523 3552797 <br />
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
           href="mailto:norb.schmidt@gmail.com">
            norb.schmidt@gmail.com
        </a>
    </div>
</div>
