<form *ngIf="ebook"
      class="mdl-grid mdl-shadow--2dp"
      [formGroup]="detailsForm"
      (ngSubmit)="onSave()"
      novalidate>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h3>eBook
            <small>
                <span *ngIf="!ebook.id"><i>Neu</i></span>
                <span *ngIf="ebook.id"><i>{{ebook.title}}</i> von {{ebook.author}}</span>
            </small>
        </h3>
    </div>

    <!-- Title -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
             [class.is-dirty]="ebook.title">
            <input class="mdl-textfield__input"
                   type="text"
                   id="ebook-title"
                   formControlName="title"
                   [ngModel]="ebook.title">
            <label class="mdl-textfield__label"
                   for="ebook-title">Titel</label>
        </div>
    </div>

    <!-- Author -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
             [class.is-dirty]="ebook.author">
            <input class="mdl-textfield__input"
                   id="ebook-author"
                   type="text"
                   formControlName="author"
                   [ngModel]="ebook.author">
            <label class="mdl-textfield__label"
                   for="ebook-author">Autor</label>
        </div>
    </div>

    <!-- Publisher -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label"
             [class.is-dirty]="ebook.publisher"
             [class.is-invalid]="!detailsForm.controls['publisher'].valid">
            <select class="mdl-selectfield__select"
                    id="ebook-publisher"
                    formControlName="publisher"
                    [ngModel]="ebook.publisher"
                    required>
                <option *ngFor="let publisher of ebookPublishers"
                        [value]="publisher">{{publisher}}</option>
            </select>
            <label class="mdl-selectfield__label"
                   for="ebook-publisher">Verlag</label>
            <span class="mdl-selectfield__error">Bitte wählen Sie einen Verlag aus.</span>
        </div>
    </div>

    <!-- ISNB -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
             [class.is-dirty]="ebook.isbn"
             [class.is-invalid]="!detailsForm.controls['isbn'].valid">
            <input class="mdl-textfield__input"
                   id="ebook-isbn"
                   type="text"
                   formControlName="isbn"
                   [ngModel]="ebook.isbn"
                   minlength="13"
                   maxlength="13" pattern="^[0-9]+$"
                   required>
            <label class="mdl-textfield__label"
                   for="ebook-isbn">ISBN</label>
            <span class="mdl-textfield__error">Bitte geben Sie eine 13-stellige ISBN an.</span>

            <!--
            <span *ngIf="detailsForm.controls['isbn'].isbnInvalid"
                  class="mdl-textfield__error">Bitte geben Sie eine 13-stellige ISBN an.</span>
            <span *ngIf="detailsForm.controls['isbn'].isbnExists"
                  class="mdl-textfield__error">Diese ISBN existiert bereits.</span>
            -->
        </div>
    </div>

    <!-- Price -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
             [class.is-dirty]="ebook.price"
             [class.is-invalid]="!detailsForm.controls['price'].valid">
            <input class="mdl-textfield__input"
                   id="ebook-price"
                   type="text"
                   formControlName="price"
                   [ngModel]="ebook.price"
                   pattern="^(0|[1-9][0-9]*)(?:[.][0-9]{2})*$"
                   required>
            <label class="mdl-textfield__label"
                   for="ebook-price">Preis</label>
            <span class="mdl-textfield__error">Bitte geben Sie einen (korrekten) Preis an.</span>
        </div>
    </div>

    <!-- Currency -->
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label"
             [class.is-dirty]="ebook.currency"
             [class.is-invalid]="!detailsForm.controls['currency'].valid">
            <select class="mdl-selectfield__select"
                    id="ebook-currency"
                    formControlName="currency"
                    [ngModel]="ebook.currency"
                    required>
                <option *ngFor="let currency of ebookCurrencies"
                        [value]="currency">{{currency}}</option>
            </select>
            <label class="mdl-selectfield__label"
                   for="ebook-currency">Währung</label>
            <span class="mdl-selectfield__error">Bitte wählen Sie eine Währung aus.</span>
        </div>
    </div>

    <!-- eBook Cover: only available in edit mode -->
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">

        <hgv-ebooks-covers label="eBook Cover (nur JPEGs)"
                           [ebook]="ebook"
                           (onSelectFile)="onSelectEbookCover($event)"
                           (onClearFileSelection)="onResetEbookCover()"></hgv-ebooks-covers>
    </div>

    <!-- Buttons -->
    <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                type="button"
                (click)="onCancel()"
                [disabled]="pending">Abbrechen</button>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                type="submit"
                [disabled]="!detailsForm.valid || detailsForm.pristine || pending">Speichern</button>
    </div>

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="button"
                (click)="onDelete()"
                [disabled]="!ebook.id || pending">Löschen</button>
    </div>

</form>
