<label class="cover-label"
       [class.file-type-error]="fileTypeError">{{label}}</label>

<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-card mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div *ngIf="!filePreview"
             class="mdl-card__supporting-text">
            <img *ngIf="ebook.coverData"
                 [src]="ebook.coverData"
                 height="200">

            <i *ngIf="!ebook.coverData"
               class="material-icons">&#xE033;</i>
        </div>

        <div *ngIf="filePreview"
             class="mdl-card__supporting-text">
            <img [src]="filePreview"
                 height="200">
        </div>


        <div class="mdl-grid mdl-card__actions mdl-card--border">
            <div *ngIf="!filePreview"
                 class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <button type="button"
                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        (click)="openFileSelection()">
                    Cover auswählen...
                </button>
            </div>

            <div *ngIf="filePreview"
                 class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <button type="button"
                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        (click)="clearFileSelection()">
                    Zurücksetzen
                </button>
            </div>

            <!-- hidden file input -->
            <input #file
                   type="file"
                   (change)="selectFile()">
        </div>
    </div>
</section>
