<div #layout mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <hgv-app-title class="mdl-layout-title"
                           [text]="appTitle"></hgv-app-title>

            <div class="mdl-layout-spacer"></div>

            <hgv-app-nav class="mdl-navigation mdl-layout--large-screen-only"
                         [items]="navItems"></hgv-app-nav>
        </div>
    </header>

    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <hgv-app-title class="mdl-layout-title"
                       [text]="appTitle"></hgv-app-title>

        <hgv-app-nav class="mdl-navigation"
                     [items]="navItems"
                     (onClickNavItem)="toggleMenu()"></hgv-app-nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-50">
        <div class="page-content">
            <!-- Routed views and components -->
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
